@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;900&display=swap');

    /* --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: .938rem;
    color: black;
}

h1,h2,h3,h4 {
    font-weight: 600;
}



/*Header*/
header{
    background-color: #532173;
    height: auto;
}

#logo{
    width: 180px;
    height: 60px;
    margin: 0;
}
.item{
    font-size: .813rem;
    color: white;
    font-weight: 500;
}
.item:hover{
    color: white;
    border-bottom: 1px solid white;
}

.ativo{
    border-bottom: 1px solid white;
}
.navbar-toggler{
    color: white;
    font-size: 30px;
}



/*Seção hero*/
#hero{
    height: auto;
    display: flex;
    align-items: center;
}
#text-container{
    display: flex;
    align-content: center;
    align-items: center;
}

#apresentacao h2{
    color: black;
}
#apresentacao p{
    text-align: justify;

}

#img-hero{
    width: 520px;
}
/*button*/
#caixaBotoes{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#botaoServico{
    width: auto;
    border: 3px solid #532173;
    border-radius: 10px;
    color: black;
}
#botaoServico:hover{
    background-color: #532173;
    color: white;
}

#botaoContato{
    width: auto;
    color: white;
    background-color: #532173;
    border-radius: 10px;
    border: 3px solid #532173;
}
#botaoContato:hover{
    color: black;
    background-color: transparent;
    border-radius: 10px;
}


/*Seção about*/
#about{
    margin-top: 60px;
    padding-top: 30px;
}

#linha-about{
    width: 40%;
    border: 1px solid #532173;
    margin-top: -10px;
}

.card{
    text-align: center;
    border: 1px solid #532173;
    border-radius: 5px;
}
.cardTitulo{
    color: black;
}

.icone-card{
    font-size: 80px;
    color: #532173;
    padding-top: 10px;
}
.card-text{
    text-align: justify;
    padding-top: 10px;
    font-size: 14px;
}

/*Seção atendimento*/
#atendimento{
    height: 100vh;
    background: url("img/atendimento.png") center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-ated{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: transparent;
    border: 2px solid #532173;
}
.card-icon{
    font-size: 80px;
    color: #532173;
}
.cardTituloDois{
    color: white;
}

.cardText{
    color: white;
    background-color: #532173;
    border: 2px solid #532173;
    height: 250px;
}




/*Footer*/
footer{
    background-color: #532173;
    height: auto;
    padding-top: 15px;
}
footer p{
    color: rgb(255, 255, 255, 0.7);
    text-align: justify;
}
.caixa-contato{
    display: flex;
    align-items: baseline;
}

.icone{
    color: rgb(255, 255, 255, 0.5);
    font-size: 25px;
    margin-right: 10px;
}
.icone-sociais{
    font-size: 35px;
    color: rgb(255, 255, 255, 0.5);
}
.icone-sociais:hover{
    color: white;
}
footer h3{
    color: white;
    padding-bottom: 15px;
}

#texto-footer-copy{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#paragrafo-fim{
    text-align: center;
}





/*Responsividade*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*header*/
    #logo{
        display: none;
    }

    /*Seção hero*/
    #text-container{
        margin-top: 15px;
        order: 2;
    }
    #img-container{
        order: 1;
    }

    /*button*/
    #caixaBotoes{
        flex-direction: column;
        width: 90%;
        justify-items: center;
        margin: 0 auto;
    }

    #botaoServico{
        width: 100%;
        margin-bottom: 10px;
    }

    #botaoContato{
        width: 100%;
        color: white;
        background-color: #532173;
        border-radius: 10px;
        border: 3px solid #532173;
    }
    #botaoContato:hover{
        color: black;
        background-color: transparent;
        border-radius: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}