@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;900&display=swap');

    /* --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}


html{
    scroll-behavior: smooth;
    scrollbar-color: #532173;
    scrollbar-width: 20px;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1rem;
    color: black;
    padding-top: 70px;
}

h1,h2,h3,h4 {
    font-weight: 600;
}



/*Header*/
header{
    background-color: #532173;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 1000;
}

#logo{
    width: 180px;
    height: 60px;
    margin: 0;
}
.item{
    font-size: .813rem;
    color: white;
    font-weight: 500;
}
.item:hover{
    color: white;
    border-bottom: 1px solid white;
}

.ativo{
    border-bottom: 1px solid white;
}
.navbar-toggler{
    color: white;
    font-size: 30px;
}



/*Seção hero*/
#hero{
    margin-bottom: 60px;
}
#img-container{
    margin-top: 15px;
}
#apresentacao{
    margin-top: 15px;
}
/*button*/
#botaoServico{
    border: 2px solid #532173;
    color: black;
    margin-bottom: 5px;
}
#botaoContato{
    border: 2px solid #532173;
    background-color: #532173;
    color: white;
    margin-top: 5px;
}


/*Seção about*/
#about{
    margin-bottom: 60px;
}
#quem-somos{
    text-align: center;
}
#linha-about{
    width: 40%;
    margin: 0 auto;
    border: 1px solid #532173;
    margin-top: -5px;
    margin-bottom: 30px;
}

#card-about{
    text-align: center;
    border: 2px solid #532173;
    margin: 5px;
    padding: 5px;
}
.icone-card{
    font-size: 80px;
    color: #532173;
}
.card-text{
    text-align: justify;
}
/*Seção atendimento*/
#atendimento{
    margin-top: 30px;
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #532173;
}
.card-ated{
    background-color: transparent;
    text-align: center;
    border: 2px solid white;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-icon{
    font-size: 80px;
    color: white;
}
.cardTituloDois{
    color: white;
}
.cardText{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    height: auto;
}

/*Seção serviços*/
.cardservico{
    text-align: center;
}
.icon-servico{
    font-size: 80px;
    color: #532173;
    margin-bottom: 15px;
}
.icon-servico:hover{
    font-size: 90px;
}

/*Seção estrutura*/
#estrutura{
    text-align: center;
}
.paragrafo-estrutura-top{
    text-align: center;
    margin-bottom: 0px;
}
.paragrafo-estrutura{
    text-align: justify;
    margin-top: 15px;
}
 #botao-saiba-mais{
    background: #532173;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
    border: 3px solid #532173;
 }

 /*Seção faq*/
#faq{
    margin-top: 30px;
    margin-bottom: 30px;
}
.paragrafo-faq{
    text-align: justify;
}

/*Editando accordion*/
.accordion-button:not(.collapsed){
    background: transparent;
}
.accordion-flush .accordion-item .accordion-button{
    color: black;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #532173;
    outline: 0;
    box-shadow: 0 0 0 0.05rem #532173;
}

.acordeon{
    margin-top: 30px;
}


/*Contato*/
.form-control {
    color: #000000;
    background-color: transparent;
    border: 1px solid #532173;
}
.form-control::placeholder{
    color: black;
}
.botaoContato{
    background: #532173;
    margin-bottom: 15px;
}
#contato-enviar{
    color: white;
    border: 3px solid #532173;
    border-radius: 10px;
}
#contato-enviar:hover{
    color: black;
    border: 3px solid #532173;
    background-color: transparent;
    cursor: pointer;
}


/*Footer*/
footer{
    background-color: #532173;
    height: auto;
    padding-top: 15px;
}
footer p{
    color: rgb(255, 255, 255, 0.8);
    text-align: justify;
}
.caixa-contato{
    display: flex;
    align-items: baseline;
}

.icone{
    color: rgb(255, 255, 255, 0.8);
    font-size: 25px;
    margin-right: 10px;
}
.icone-sociais{
    font-size: 35px;
    color: rgb(255, 255, 255, 0.8);
}
.icone-sociais:hover{
    color: white;
}
footer h3{
    color: white;
    padding-bottom: 15px;
}

#texto-footer-copy{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#paragrafo-fim{
    text-align: center;
}



/*Responsividade*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*header*/
    #logo{
        /* display: none; */
        width: 180px;
        height: auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #botaoContato{
        margin-top: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /*hero*/
    #hero{
        margin-top: 60px;
    }
    #img-container{
        order: 2;
    }
    /*quem somos*/
    #about{
        margin-top: 60px;
    }
    #quem-somos{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }
    #linha-about{
        margin: 0;
        margin-top: -5px;
    }
    /*Seção estrutura*/
    #estrutura{
        text-align: left;
        margin-bottom: 30px;
    }
    .paragrafo-estrutura-top{
        text-align: left;
    }

    /*Contato*/
    #img-contato{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*hero*/
    #hero{
        margin-top: 60px;
    }
    #botaoContato{
        margin-top: 0;
    }
    #text-container{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }
    #img-container{
        order: 2;
    }
    /*quem somos*/
    #about{
        margin-top: 60px;
    }
    #quem-somos{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }
    #linha-about{
        margin: 0;
        margin-top: -5px;
    }

    /*Atendimento*/
    #atendimento{
        height: 100vh;
        background: url("img/atendimento.png") center no-repeat;
        display: flex;
        align-items: center;
    }
    .card-ated{
        background-color: transparent;
        text-align: center;
        border: 2px solid white;
        height: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-icon{
        font-size: 80px;
        color: white;
    }
    .cardTituloDois{
        color: white;
    }
    .cardText{
        background-color: #532173;
        border: 2px solid white;
        color: white;
        height: 250px;
    }
    .cardFont{
        font-size: 14px;
    }
    /*Seção estrutura*/
    #estrutura{
        text-align: left;
        height: 100vh;
        background: url("img/bg-estrutura.png") center no-repeat;
        display: flex;
        align-items: center;
    }
    .paragrafo-estrutura-top{
        text-align: left;
        font-size: 14px;
    }
    .paragrafo-estrutura{
        margin-top: 15px;
        font-size: 14px;
    }
    #botao-saiba-mais:hover{
        background: transparent;
        color: black;
        border-radius: 10px;
        border: 3px solid #532173;
    }


     /*Faq*/
    .acordeon{
        margin-top: 0;
    }
    .funcionalidade h4, p{
        text-align: left;
    }
    .acordeon h4, p{
        text-align: left;
    }
    /*Contato*/
    .paragrafo-contato{
        text-align: center;
        margin-bottom: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*hero*/
    #hero{
        margin-top: 60px;
    }
    #botaoContato{
        margin-top: 0;
    }
    #text-container{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }
    #img-container{
        order: 2;
    }
    /*quem somos*/
    #about{
        margin-top: 60px;
    }
    #quem-somos{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }
    #linha-about{
        margin: 0;
        margin-top: -5px;
    }

    /*Atendimento*/
    #atendimento{
        height: 100vh;
        background: url("img/atendimento.png") center no-repeat;
        display: flex;
        align-items: center;
    }
    .card-ated{
        background-color: transparent;
        text-align: center;
        border: 2px solid white;
        height: 250px;
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
        justify-content: center;
    }
    .card-icon{
        font-size: 80px;
        color: white;
    }
    .cardTituloDois{
        color: white;
    }
    .cardText{
        background-color: #532173;
        border: 2px solid white;
        color: white;
        height: 250px;
    }
    .cardFont{
        font-size: 16px;
    }
    /*Seção estrutura*/
    #estrutura{
        text-align: left;
        height: 100vh;
        background: url("img/bg-estrutura.png") center no-repeat;
        display: flex;
        align-items: center;
    }
    .paragrafo-estrutura-top{
        text-align: left;
        font-size: 14px;
    }
    .paragrafo-estrutura{
        margin-top: 15px;
        font-size: 14px;
    }
    #botao-saiba-mais:hover{
        background: transparent;
        color: black;
        border-radius: 10px;
        border: 3px solid #532173;
    }

    /*Faq*/
    .acordeon{
        margin-top: 0;
    }
    .funcionalidade h4, p{
        text-align: left;
    }
    .acordeon h4, p{
        text-align: left;
    }

    /*Contato*/
    .paragrafo-contato{
        text-align: center;
        margin-bottom: 30px;
    }
}